.ss-main {
    position: relative;
    display: inline-block;
    user-select: none;
    color: #2b3f4e;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 10px;
}

.ss-main .ss-multi-selected {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    min-height: 30px;
    width: 100%;
    padding: 0 0 0 3px;
    border: 1px solid #324452;
    border-radius: 4px;
    background-color: #2b3f4e;
    outline: 0;
    box-sizing: border-box;
    transition: background-color .2s;
}

.ss-content {
    position: absolute;
    width: 100%;
    margin: -1px 0 0;
    box-sizing: border-box;
    border: 1px solid #324452;
    z-index: 1010;
    background-color: #2b3f4e;
    transform-origin: center top;
    transition: transform .2s,opacity .2s;
    opacity: 0;
    transform: scaleY(0);
}

.ss-content .ss-search input {
    display: inline-flex;
    font-size: inherit;
    line-height: inherit;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    height: 30px;
    padding: 6px 8px;
    margin: 0;
    border: 1px solid #324452;
    border-radius: 4px;
    background-color: #2b3f4e;
    outline: 0;
    text-align: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: textfield;
    color: white;
}

.ss-content.ss-open {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    color: white;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    display: flex;
    user-select: none;
    align-items: center;
    font-size: 12px;
    padding: 3px 5px;
    margin: 3px 5px 3px 0;
    color: #fff;
    background-color: #455663;
    border-radius: 4px;
    animation-name: scaleIn;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.ss-content .ss-list .ss-option.ss-disabled {
    cursor: not-allowed;
    color: #dedede;
    background-color: #324452;
}

.ss-main .ss-multi-selected .ss-add {

    padding-top: 1%;

}

.swal2-styled.swal2-confirm {

    padding-top: 0px;

}

.swal2-popup {

    background: #2b3f4e !important;

}

.swal2-title {

    color: white !important;

}

.swal2-content {

    color: white !important;

}

input {

    color: white !important;

}