<ul class="links">
    <li><a href="./index.html"><i class="fas fa-home"></i>&nbsp Home</a></li>
    <li><a href="#" ><i class="far fa-file-alt"></i><strike>&nbsp Documentação</strike></a></li>
    <li><a href="./meeting.html"><i class="fas fa-users"></i>&nbsp Team Meeting</a></li>
    <li><a href="#" ><i class="fas fa-brain"></i><strike>&nbsp Conhecimentos</strike></a></li>
    <li><a href="./admin.html"><i class="fas fa-user-shield"></i>&nbsp Administração</a></li>
    <li><a href="./sobre.html"><i class="fas fa-question"></i>&nbsp Sobre</a></li>
    <hr style="margin-top: 10px; margin-bottom: 10px;">
    <li><a href="./conta.html"><i class="fas fa-user"></i>&nbsp Minha Conta</a></li>
    <li><a href="./login.html"><i class="fas fa-sign-out-alt"></i>&nbsp Sair</a></li>
</ul>